.card {
   position: relative;
   width: 250px;
   height: 350px;
   border-radius: 20px;
   overflow: hidden;
   margin: 20px;

   background-color: var(--azul_escuro);
}

.card::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: -50%;
   transform: skewY(-15deg);
   background-color: var(--azul_claro);

   transition: 0.5s;
}

.card:hover::before {
   top: -70%;
   transform: skewY(+30deg);
}

.card-img {
   position: relative;
   width: 100%;
   height: 60%;

   display: flex;
   justify-content: center;
   align-items: center;

   transition: 0.25s;
}

.card-img img {
   width: 80%;
   height: 80%;

   transition: inherit;
}

.card-info {
   position: relative;
   z-index: 1;

   display: flex;
   flex-direction: column;
   align-items: center;

   height: 40%;
   justify-content: flex-end;

   color: var(--branco);
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: center;
}

.card-info-preco {
   font-size: 125%;
   font-weight: 500;
}

.card-info-botao {
   margin: 10px;
   padding: 10px 30px;
   background-color: var(--azul_claro);
   border-radius: 30px;
   cursor: pointer;

   display: flex;
   align-items: center;

   font-weight: 500;
}

.card-info-botao:hover {
   background-color: var(--vermelho);
}

.card-info-botoes {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
}

.adicionar-quantidade:hover {
   background-color: green;
}

.card-info-quantidade {
   width: 10px;
   padding: 10px 30px;
   background-color: var(--azul_claro);
   border-radius: 30px;

   display: flex;
   justify-content: center;
   align-items: center;
}
